# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.settings/
*.csv
*.txt


/.deps/
Makefile
aclocal.m4
/autom4te.cache/
/bin/
/lib/
config.log
config.status
configure
/intl/
libtool
loadmap.txt
/m4/Makefile
/build-aux/Makefile
config.h
.Tpo
stamp-h*
config.h.in~
.autotools
/Setup/
*.sln
*.vcxproj
/Default/
*.vcxproj
*.filters
*.user
*.chm
*.chw
/.settings/
*.PLG
*.dmp
c_fct.h
*.lst
/.vs/
*.obj
*.exe
*.lib
*.ilk
*.dsp
*.DSP
*.dsw
*.DSW
*.pch
*.pcb
*.bsc
*.aps
*.APS
*.pdb
*.plg
vc60.*
*.ncb
*.OPT
*.PLG
*.plg
*.opt
*.zip
*.tar
*.gz
*.dll
*.DLL
*.log
*.LOG
*.dhe
*.fts
*.sbr
*.SBR
*.map
*.MAP
*.EXE
*.OBJ
*.LIB
*.sdf
/x64/
.project
.cproject
makefile
objects.mk
sources.mk
subdir.mk
config.h.in
